{% extends 'base.html.twig' %}

{% block title %} {% endblock %}


{% block body %}
    {% if app.user %}

        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <div class="d-inline">
                            <h4>User Profile</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_home') }}"> <i class="feather icon-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="{{ path('profile') }}">Profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-header end -->

        <!-- Page-body start -->
        <div class="page-body">
            <!--profile cover start-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="cover-profile">
                        <div class="profile-bg-img">
                            <img class="profile-bg-img img-fluid"
                                 src="{{ asset('files/assets/images/user-profile/bg-img1.jpg') }}"
                                 alt="bg-img">
                            <div class="card-block user-info">
                                <div class="col-md-12">
                                    <div class="media-left">
                                        <a href="#" class="profile-image">
                                            <img class="user-img img-radius"
                                                 src="{{ asset('files/assets/images/avatar-4.jpg') }}"
                                                 alt="user-img">
                                        </a>
                                    </div>
                                    <div class="media-body row">
                                        <div class="col-lg-12">
                                            <div class="user-title">
                                                <h2 class="f-w-600">{{ app.user.username }}</h2>
                                                <span class="text-white">Web designer</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--profile cover end-->
            <div class="row">
                <div class="col-lg-12">
                    <!-- tab header start -->
                    <div class="tab-header card">
                        <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist"
                            id="mytab">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab"
                                   href="#personal" role="tab">Personal Info</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#binfo"
                                   role="tab">User's Services</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#contacts"
                                   role="tab">User's Contacts</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#review"
                                   role="tab">Reviews</a>
                                <div class="slide"></div>
                            </li>
                        </ul>
                    </div>
                    <!-- tab header end -->
                    <!-- tab content start -->
                    <div class="tab-content">
                        <!-- tab panel personal start -->
                        <div class="tab-pane active" id="personal" role="tabpanel">
                            <!-- personal card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">About Me</h5>
                                    <button id="edit-btn" type="button"
                                            class="btn btn-sm btn-primary waves-effect waves-light f-right">
                                        <i class="icofont icofont-edit"></i>
                                    </button>
                                </div>


                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="general-info">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xl-6">
                                                            <div class="table-responsive">
                                                                <table class="table m-0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th scope="row">Full
                                                                            Name
                                                                        </th>
                                                                        <td>
                                                                            {{ app.user.username }}
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Gender
                                                                        </th>

                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Birth Date
                                                                        </th>
                                                                        <td>October 25th,
                                                                            1990
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <th scope="row">
                                                                            Location
                                                                        </th>
                                                                        <td>New York, USA
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- end of table col-lg-6 -->
                                                        <div class="col-lg-12 col-xl-6">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Email
                                                                        </th>
                                                                        <td>
                                                                            <a href=""> {{ app.user.email }}</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Mobile Number
                                                                        </th>
                                                                        <td>(0123) -
                                                                            4567891
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            Website
                                                                        </th>
                                                                        <td><a href="#!">www.demo.com</a>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- end of table col-lg-6 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of general info -->
                                            </div>
                                            <!-- end of col-lg-12 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                    <!-- end of view-info -->
                                    <!-- end of edit-info -->
                                </div>
                                <!-- end of card-block -->
                            </div>

                            <!-- personal card end-->
                        </div>
                        <!-- tab pane personal end -->
                        <!-- tab pane info start -->
                        <div class="tab-pane" id="binfo" role="tabpanel">
                            <!-- info card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">User Services</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card b-l-success business-info services m-b-20">
                                                <div class="card-header">
                                                    <div class="service-header">
                                                        <a href="#">
                                                            <h5 class="card-header-text">
                                                                Shivani Hero</h5>
                                                        </a>
                                                    </div>
                                                    <span class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="true"
                                                          role="tooltip">
                                         </span>
                                                    <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-edit"></i>
                                                            Edit</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-ui-delete"></i>
                                                            Delete</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-eye-alt"></i>
                                                            View</a>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p class="task-detail">Lorem
                                                                ipsum dolor sit amet,
                                                                consectet ur adipisicing
                                                                elit, sed do eiusmod temp or
                                                                incidi dunt ut labore
                                                                et.Lorem ipsum dolor sit
                                                                amet, consecte.</p>
                                                        </div>
                                                        <!-- end of col-sm-8 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of card-block -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card b-l-danger business-info services">
                                                <div class="card-header">
                                                    <div class="service-header">
                                                        <a href="#">
                                                            <h5 class="card-header-text">
                                                                Dress and Sarees</h5>
                                                        </a>
                                                    </div>
                                                    <span class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="true"
                                                          role="tooltip">
                                         </span>
                                                    <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-edit"></i>
                                                            Edit</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-ui-delete"></i>
                                                            Delete</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-eye-alt"></i>
                                                            View</a>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p class="task-detail">Lorem
                                                                ipsum dolor sit amet,
                                                                consectet ur adipisicing
                                                                elit, sed do eiusmod temp or
                                                                incidi dunt ut labore
                                                                et.Lorem ipsum dolor sit
                                                                amet, consecte.</p>
                                                        </div>
                                                        <!-- end of col-sm-8 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of card-block -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card b-l-info business-info services">
                                                <div class="card-header">
                                                    <div class="service-header">
                                                        <a href="#">
                                                            <h5 class="card-header-text">
                                                                Shivani Auto Port</h5>
                                                        </a>
                                                    </div>
                                                    <span class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="true"
                                                          role="tooltip">
                                         </span>
                                                    <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-edit"></i>
                                                            Edit</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-ui-delete"></i>
                                                            Delete</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-eye-alt"></i>
                                                            View</a>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p class="task-detail">Lorem
                                                                ipsum dolor sit amet,
                                                                consectet ur adipisicing
                                                                elit, sed do eiusmod temp or
                                                                incidi dunt ut labore
                                                                et.Lorem ipsum dolor sit
                                                                amet, consecte.</p>
                                                        </div>
                                                        <!-- end of col-sm-8 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of card-block -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card b-l-warning business-info services">
                                                <div class="card-header">
                                                    <div class="service-header">
                                                        <a href="#">
                                                            <h5 class="card-header-text">
                                                                Hair stylist</h5>
                                                        </a>
                                                    </div>
                                                    <span class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="true"
                                                          role="tooltip">
                                         </span>
                                                    <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-edit"></i>
                                                            Edit</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-ui-delete"></i>
                                                            Delete</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-eye-alt"></i>
                                                            View</a>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p class="task-detail">Lorem
                                                                ipsum dolor sit amet,
                                                                consectet ur adipisicing
                                                                elit, sed do eiusmod temp or
                                                                incidi dunt ut labore
                                                                et.Lorem ipsum dolor sit
                                                                amet, consecte.</p>
                                                        </div>
                                                        <!-- end of col-sm-8 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of card-block -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card b-l-danger business-info services">
                                                <div class="card-header">
                                                    <div class="service-header">
                                                        <a href="#">
                                                            <h5 class="card-header-text">BMW
                                                                India</h5>
                                                        </a>
                                                    </div>
                                                    <span class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="true"
                                                          role="tooltip">
                                         </span>
                                                    <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-edit"></i>
                                                            Edit</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-ui-delete"></i>
                                                            Delete</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-eye-alt"></i>
                                                            View</a>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p class="task-detail">Lorem
                                                                ipsum dolor sit amet,
                                                                consectet ur adipisicing
                                                                elit, sed do eiusmod temp or
                                                                incidi dunt ut labore
                                                                et.Lorem ipsum dolor sit
                                                                amet, consecte.</p>
                                                        </div>
                                                        <!-- end of col-sm-8 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of card-block -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card b-l-success business-info services">
                                                <div class="card-header">
                                                    <div class="service-header">
                                                        <a href="#">
                                                            <h5 class="card-header-text">
                                                                Shivani Hero</h5>
                                                        </a>
                                                    </div>
                                                    <span class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="true"
                                                          role="tooltip">
                                         </span>
                                                    <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-edit"></i>
                                                            Edit</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-ui-delete"></i>
                                                            Delete</a>
                                                        <a class="dropdown-item"
                                                           href="#!"><i
                                                                    class="icofont icofont-eye-alt"></i>
                                                            View</a>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p class="task-detail">Lorem
                                                                ipsum dolor sit amet,
                                                                consectet ur adipisicing
                                                                elit, sed do eiusmod temp or
                                                                incidi dunt ut labore
                                                                et.Lorem ipsum dolor sit
                                                                amet, consecte.</p>
                                                        </div>
                                                        <!-- end of col-sm-8 -->
                                                    </div>
                                                    <!-- end of row -->
                                                </div>
                                                <!-- end of card-block -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- info card end -->
                        </div>
                        <!-- tab pane info end -->
                        <!-- tab pane contact start -->
                        <div class="tab-pane" id="contacts" role="tabpanel">
                            <div class="row">
                                <div class="col-xl-3">
                                    <!-- user contact card left side start -->
                                    <div class="card">

                                        <div class="card-block groups-contact">
                                            <h4>Groups</h4>
                                            <ul class="list-group">
                                                <li class="list-group-item justify-content-between">
                                                    Project
                                                    <span class="badge badge-primary badge-pill">30</span>
                                                </li>
                                                <li class="list-group-item justify-content-between">
                                                    Notes
                                                    <span class="badge badge-success badge-pill">20</span>
                                                </li>
                                                <li class="list-group-item justify-content-between">
                                                    Activity
                                                    <span class="badge badge-info badge-pill">100</span>
                                                </li>
                                                <li class="list-group-item justify-content-between">
                                                    Schedule
                                                    <span class="badge badge-danger badge-pill">50</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-9">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- contact data table card start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-header-text">
                                                        Contacts</h5>
                                                </div>
                                                <div class="card-block contact-details">
                                                    <div class="data_table_main table-responsive dt-responsive">
                                                        <table id="simpletable"
                                                               class="table  table-striped table-bordered nowrap">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Email</th>
                                                                <th>Mobileno.</th>
                                                                <th>Favourite</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            <tr>
                                                                <td>Garrett Winters</td>
                                                                <td>
                                                                    <a
                                                                            class="__cf_email__"
                                                                            data-cfemail="a3c2c1c0929190e3c4cec2cacf8dc0ccce">[email&#160;protected]</a>
                                                                </td>
                                                                <td>9989988988</td>
                                                                <td><i class="fa fa-star-o"
                                                                       aria-hidden="true"></i>
                                                                    k
                                                                </td>
                                                                <td class="dropdown">
                                                                    <button type="button"
                                                                            class="btn btn-primary dropdown-toggle"
                                                                            data-toggle="dropdown"
                                                                            aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                        <i class="fa fa-cog"
                                                                           aria-hidden="true"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-right b-none contact-menu">
                                                                        <a class="dropdown-item"
                                                                           href="#"><i
                                                                                    class="icofont icofont-edit"></i>Edit</a>
                                                                        <a class="dropdown-item"
                                                                           href="#"><i
                                                                                    class="icofont icofont-ui-delete"></i>Delete</a>
                                                                        <a class="dropdown-item"
                                                                           href="#"><i
                                                                                    class="icofont icofont-eye-alt"></i>View</a>
                                                                    </div>
                                                                </td>
                                                            </tr>


                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- contact data table card end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab pane contact end -->
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    {% endif %}
{% endblock %}
