{% extends 'base.html.twig' %}


{% block body %}


        <div class="row">

            <section class="content">
                <div class="col-md-6 col-lg-3">
                    <div class="info-box bg-light shadow" style="border-radius:10px;">
                        <span class="info-box-icon elevation-1"
                              style="background-color: #009688; border-radius:10px;"><i
                                    class="icon fa fa-users fa-x"></i></span>
                        <div class="info-box-content">
                            <h4 class="info-box-text text-bold">Client</h4>

                            <h4 class="text-bold"> {{ countClients }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow" style="border-radius:10px;">
                        <span class="info-box-icon bg-maroon-gradient elevation-1" style="border-radius:10px;"><i
                                    class="fa fa-user"></i></span>

                        <div class="info-box-content">
                            <h4 class="info-box-text text-bold">Collaborator</h4>

                            <h4 class="text-bold">{{ countClients }}</h4>

                        </div>

                    </div>
                    <!-- /.info-box -->
                </div>


                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow" style="border-radius:10px;">
                        <span class="info-box-icon bg-blue elevation-1" style="border-radius:10px;"><i
                                    class="fa fa-th-list"></i></span>

                        <div class="info-box-content">
                            <h4 class="info-box-text text-bold">Categorie</h4>

                            <h4 class="text-bold"> {{ countCategories }}</h4>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>


                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box bg-light shadow" style="border-radius:10px;">
                        <span class="info-box-icon bg-yellow-gradient elevation-1" style="border-radius:10px;"><i
                                    class="fa fa-th-list"></i></span>

                        <div class="info-box-content">
                            <h4 class="info-box-text text-bold">Tache</h4>

                            <h4 class="text-bold"> {{ countCategories }}</h4>

                        </div>
                    </div>
                </div>


                <div class="content mt-3">
                    <div class="animated fadeIn">
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4 class="mb-3">Yearly Sales </h4>
                                        <canvas id="sales-chart"></canvas>
                                    </div>
                                </div>
                            </div><!-- /# column -->

                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3">Team Commits </h4>
                                        <canvas id="team-chart"></canvas>
                                    </div>
                                </div>
                            </div><!-- /# column -->

                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3">Bar chart </h4>
                                        <canvas id="barChart"></canvas>
                                    </div>
                                </div>
                            </div><!-- /# column -->


                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mb-3">Line Chart </h4>
                                        <canvas id="lineChart"></canvas>
                                    </div>
                                </div>
                            </div><!-- /# column -->


                        </div>

                    </div><!-- .animated -->
                </div><!-- .content -->



            </section>


        </div>

    </div>





    {% block javascripts %}



        <script src="{{ asset('dist/js/chartjs-init.js') }}"></script>
        <script src="{{ asset('dist/js/Chart.bundle.min.js') }}"></script>
        <script src="{{ asset('dist/js/jquery.min.js') }}"></script>




    {% endblock %}


{% endblock %}

