{% extends 'base2.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger bg-info">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <!-- {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %} -->


        <section class="container">
            <div class="login">
                <h1>Login </h1>
                <p><input type="text" value="{{ last_username }}" name="email" id="username" placeholder="Username"
                          autocomplete="email" required></p>

                    <p><input type="password" name="password" id="pass" data-type="password" class="input"
                              autocomplete="current-password" required></p>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">

                <p class="remember_me">
                    <label>
                        <input type="checkbox" name="remember_me" id="remember_me">
                        Remember me on this computer
                    </label>
                </p>

                <p class="submit"> <input type="submit" class="button" value="Submit">
                </p>


            </div>
            <div class="login-help">
                <a href="{{ path('app_forgot_password_request') }}">Forgot Password?</a>
            </div>

        </section>

    </form>










{% endblock %}