

  {% block stylesheets %}

      <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
      <link rel="stylesheet" href="{{ asset('css/style-minimal-flat.css') }}">
      <script src="{{ asset('js/modernizr.custom.js') }}"></script>
  {% endblock %}
{% block body %}


  <!-- Loading overlay -->
  <div id="loading" class="dark-back">
      <div class="loading-bar"></div>
      <span class="loading-text opacity-0">SweDExpert ?</span>
  </div>

  <!-- Canvas for particles animation -->
  <div id="particles-js"></div>


  <div id="slider" class="sl-slider-wrapper">

      <div class="sl-slider">

          <!-- SLIDE 1 / Home -->
          <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

              <div class="sl-slide-inner">

                  <div class="content-slide">

                      <div class="container">

                          <img src="{{ asset('img\logo.png') }}" alt="" class="brand-logo text-intro opacity-0">

                          <h1 class="text-intro opacity-0">Swedg Expert</h1>

                          <p class="text-intro opacity-0">Bienvenue sur votre application qui permet la gestion d'un cabinet !.
                              <br> si vous souhaitez vous connecter cliquez sur Connexion puis introduiser vos coordonnées!
                          </p>

                          <a data-dialog="somedialog" class="action-btn trigger text-intro opacity-0">Connexion !</a>

                      </div>
                  </div>
              </div>
          </div>


      </div>
      <!-- END - sl-slider -->



  </div>
  <!-- END - Slider Wrapper -->

  <!-- Newsletter Popup -->
  <div id="somedialog" class="dialog">

      <div class="dialog__overlay"></div>

      <!-- dialog__content -->
      <div class="dialog__content" style="width:auto;">

          <div class="login-box">
              {% if error %}
                  <div class="alert alert-danger bg-danger" style="height:40px;">{{ error.messageKey|trans(error.messageData, 'security') }}
                      <button type="button" class="close" data-dismiss="alert" style="margin-top:-5px">x</button>
                  </div>
                  <script>
                      setTimeout(function() {
                          $(".alert").alert('close');
                      }, 3000);
                  </script>
              {% endif %}
              <form class="login-form" method="post" style="padding:40px; padding-bottom: 12px" >
                  <h3 class="login-head" style="padding-bottom:20px; border-bottom:1px #000 solid;"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
                  <div class="form-group">
                      <label class="control-label" style="margin-right:164px; color:#000;">USERNAME</label>
                      <input type="text" value="{{ last_username }}" name="email" id="username" class="form-control" placeholder="Username"
                             autocomplete="email" required>

                  </div>
                  <div class="form-group">
                      <label class="control-label" style="margin-right:164px; color:#000;">PASSWORD</label>

                      <input type="password" name="password" id="pass" data-type="password" class="form-control" autocomplete="current-password" required placeholder="Password">
                      <input type="hidden" name="_csrf_token"
                             value="{{ csrf_token('authenticate') }}">
                  </div>
                  <div class="form-group">
                      <div class="utility">
                          <div class="animated-checkbox">
                              <label style="margin-left:-125px; position:fixed;">
                                  <input type="checkbox"><span class="label-text" style="margin-right:120px; color:#000;">Stay Signed in</span>
                              </label>
                          </div>
                          <p class="semibold-text mb-2"><a href="#" data-toggle="flip" style="color:black; margin-left:130px;">Forgot Password ?</a></p>
                      </div>
                  </div>
                  <div class="form-group btn-container">
                      <button class="btn btn-primary btn-block">
                          <i class="fa fa-sign-in fa-lg fa-fw"></i>
                          SIGN IN
                      </button>
                  </div>
              </form>
          </div>


          <button class="close-newsletter" data-dialog-close=""><i class="icon ion-android-close"></i></button>

      </div>


  </div>

    {% block javascripts %}

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery.easings.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>


        <script src="{{ asset('js/jquery.ba-cond.min.js') }}"></script>
        <script src="{{ asset('js/jquery.slitslider.js') }}"></script>


        <script src="{{ asset('js/notifyMe.js') }}"></script>


        <script src="{{ asset('js/classie.js') }}"></script>
        <script src="{{ asset('js/dialogFx.js') }}"></script>

        <!-- Particles effect plugin on the right -->
        <script src="{{ asset('js/particles.js') }}"></script>

        <!-- Custom Scrollbar plugin -->
        <script src="{{ asset('js/jquery.mCustomScrollbar.js') }}"></script>

        <!-- Countdown plugin -->
        <script src="{{ asset('js/jquery.countdown.js') }}"></script>

        <script>
            $("#countdown")
                // Year/Month/Day Hour:Minute:Second
                .countdown("2018/10/24 15:30:30", function(event) {
                    $(this).html(
                        event.strftime('%D Days %Hh %Mm %Ss')
                    );
                });
        </script>

        <!-- Main application scripts -->
        <script src="{{ asset('js/main-flat.js') }}"></script>
    {% endblock %}
{% endblock %}
