
{% extends 'base2.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Symfony Client Manager</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_client_new') }}">
                    Create New Client
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Id</th>
                        <th>Groupe</th>
                        <th>Societe</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Adresse</th>
                        <th>CodePostal</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>TelMobile</th>
                        <th>TelBureau</th>
                        <th>Fax</th>
                        <th>Email</th>
                        <th>SiteWeb</th>
                        <th>NomSociete</th>
                        <th>Type</th>
                        <th>Rc</th>
                        <th>Capital</th>
                        <th>Cnss</th>
                        <th>Patente</th>
                        <th>IdenticicationFiscale</th>
                        <th>Ice</th>
                        <th>actions</th>
                    </tr>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.id }}</td>
                            <td>{{ client.groupe ? 'Yes' : 'No' }}</td>
                            <td>{{ client.societe }}</td>
                            <td>{{ client.nom }}</td>
                            <td>{{ client.prenom }}</td>
                            <td>{{ client.adresse }}</td>
                            <td>{{ client.codePostal }}</td>
                            <td>{{ client.ville }}</td>
                            <td>{{ client.pays }}</td>
                            <td>{{ client.telMobile }}</td>
                            <td>{{ client.telBureau }}</td>
                            <td>{{ client.fax }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.siteWeb }}</td>
                            <td>{{ client.nomSociete }}</td>
                            <td>{{ client.type }}</td>
                            <td>{{ client.rc }}</td>
                            <td>{{ client.capital }}</td>
                            <td>{{ client.cnss }}</td>
                            <td>{{ client.patente }}</td>
                            <td>{{ client.identicicationFiscale }}</td>
                            <td>{{ client.ice }}</td>
                            <td>
                                <form method="post" action="{{ path('app_client_delete', {'id': client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <a
                                            class="btn btn-outline-info"
                                            href="{{ path('app_client_show', {'id': client.id}) }}">
                                        Show
                                    </a>
                                    <a
                                            class="btn btn-outline-success"
                                            href="{{ path('app_client_edit', {'id': client.id}) }}">
                                        Edit
                                    </a>

                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
