{% extends 'base2.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Groupe</th>
                <th>CodeGroupe</th>
                <th>Societe</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>TelMobile</th>
                <th>TelBureau</th>
                <th>Fax</th>
                <th>Email</th>
                <th>SiteWeb</th>
                <th>NomSociete</th>
                <th>Type</th>
                <th>Rc</th>
                <th>Capital</th>
                <th>Cnss</th>
                <th>Patente</th>
                <th>IdenticicationFiscale</th>
                <th>Ice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.groupe ? 'Yes' : 'No' }}</td>
                <td>{{ client.codeGroupe }}</td>
                <td>{{ client.societe }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.codePostal }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.pays }}</td>
                <td>{{ client.telMobile }}</td>
                <td>{{ client.telBureau }}</td>
                <td>{{ client.fax }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.siteWeb }}</td>
                <td>{{ client.nomSociete }}</td>
                <td>{{ client.type }}</td>
                <td>{{ client.rc }}</td>
                <td>{{ client.capital }}</td>
                <td>{{ client.cnss }}</td>
                <td>{{ client.patente }}</td>
                <td>{{ client.identicicationFiscale }}</td>
                <td>{{ client.ice }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-success">edit</a>
                    <a href="{{ path('app_client_delete', {'id': client.id}) }}" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="24">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}


