{% extends 'base.html.twig' %}
{% block title %}show categorie{% endblock %}

{% block body %}

    <div class="card borderless-card">
        <div class="card-block primary-breadcrumb">
            <div class="breadcrumb-header">
                <h5>Show Client</h5>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="#!">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Client</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Sow Client</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">


                <div class="box-body">

                    <div class="box-header with-border">
                        <a href="{{ path('client_edit',{id: client.id}) }}" class="btn btn-sm btn-primary btn-sm">
                            Edite Client
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </a>

                        <a href="{{ path('client_delete',{id: client.id}) }}" class="btn btn-danger btn-sm">
                            Delete
                            <span class="fa fa-trash-o" aria-hidden="true"></span>

                        </a>


                        <a href="{{ path('app_pdf_download', {id: client.id}) }}" type="button" class="btn btn-info btn-icon waves-effect waves-light" data-toggle="tooltip" data-placement="top" title=".icofont-print">
                            <i class="icofont icofont-print"></i></a>


                        <div class="pull-right">
                            <a href="{{ path('client') }}" class="btn btn-sm btn-warning btn-sm">
                                <i class="fa fa-reply" aria-hidden="true"></i>
                                Reteurn
                            </a>
                        </div>


                    </div>

                    <div class="card">
                        <div class="card-header">



                        <section class="content">

                        <div class="col-sm-4  ">
                            <label class="control-label col-sm-2">Nom:</label> <p class="col-sm-10">{{ client.nom }}</p>
                            <label class="control-label col-sm-3">Prenom:</label> <p class="col-sm-8">{{ client.prenom }}</p>
                            <label class="control-label col-sm-3"> email:</label> <p class="col-sm-8"> {{ client.email }}</p>
                            <label class="control-label col-sm-3">telMobile:</label>  <p class="col-sm-8">{{ client.telMobile }}</p>
                            <label class="control-label col-sm-3" >telBureau:</label>  <p class="col-sm-8">{{ client.telBureau }}</p>
                            <label class="control-label col-sm-3"> fax:</label> <p class="col-sm-8"> {{ client.fax }}</p>
                        </div>
                        <div class=" col-sm-4">
                            <label class="control-label col-sm-3"> adresse: </label>  <p class="col-sm-9">{{ client.adresse }}</p>
                            <label class="control-label col-sm-3"> ville:</label> <p class="col-sm-8"> {{ client.ville }}</p>
                            <label class="control-label col-sm-3"> codePostal: </label>  <p class="col-sm-8">{{ client.codePostal }}</p>
                            <label class="control-label col-sm-3"> pays:</label>  <p class="col-sm-8">{{ client.pays }}</p>
                        </div>
                        <div class=" col-sm-4">
                            <label class="control-label col-sm-3">cnss:</label> <p class="col-sm-8"> {{ client.cnss }}</p>
                            <label class="control-label col-sm-3">societe:</label>  <p class="col-sm-8">{{ client.societe }}</p>
                            <label class="control-label col-sm-3">type:</label> <p class="col-sm-8"> {{ client.type }}</p>
                            <label class="control-label col-sm-3">siteWeb:</label>  <p class="col-sm-8">{{ client.siteWeb }}</p>
                            <label class="control-label col-sm-3">nomSociete:</label>  <p class="col-sm-8">{{ client.nomSociete }}</p>
                            <label class="control-label col-sm-3">rc:</label>  <p class="col-sm-8">{{ client.rc }}</p>
                            <label class="control-label col-sm-3" >identicicationFiscale:</label>  <p class="col-sm-8">{{ client.identicicationFiscale }}</p>
                            <label class="control-label col-sm-3"> Categorie:</label>  <p class="col-sm-8">{{ client.Categorie }}</p>
                            <label class="control-label col-sm-3"> ice:</label> <p class="col-sm-8"> {{ client.ice }}</p>
                            <label class="control-label col-sm-3"> patente:</label>  <p class="col-sm-8">{{ client.patente }}</p>
                            <label class="control-label col-sm-3"> capital:</label>  <p class="col-sm-8">{{ client.capital }}</p>
                        </div>
                    </section>


                </div><!-- /.box-body -->


            </div><!-- /.box -->
        </section>
    </div>
    </div>
    </div>
{% endblock %}
