


{% extends 'base2.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Client</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_client_index') }}">
                    View All Client
                </a>
            </div>
            <div class="card-body">

                <b class="text-muted">id:</b>
                <p>{{ client.id }}</p>

                <b class="text-muted">groupe:</b>
                <p>{{ client.groupe ? 'Yes' : 'No' }}</p>

                <b class="text-muted">societe:</b>
                <p>{{ client.societe }}</p>
                <b class="text-muted">adresse:</b>
                <p>{{ client.adresse }}</p>

                <b class="text-muted">codePostal:</b>
                <p>{{ client.codePostal }}</p>

                <b class="text-muted">adresse:</b>
                <p>{{ client.adresse }}</p>

                <b class="text-muted">prenom:</b>
                <p>{{ client.prenom }}</p>
                <b class="text-muted">nom:</b>
                <p>{{ client.nom }}</p>

                <b class="text-muted">vile:</b>
                <p>{{ client.vile }}</p>

                <b class="text-muted">paye:</b>
                <p>{{ client.paye }}</p>

                <b class="text-muted">telMobile:</b>
                <p>{{ client.telMobile }}</p>

                <b class="text-muted">telBureau:</b>
                <p>{{ client.telBureau }}</p>
                <b class="text-muted">fax:</b>
                <p>{{ client.fax }}</p>
                <b class="text-muted">email:</b>
                <p>{{ client.email }}</p>
                <b class="text-muted">siteweb:</b>
                <p>{{ client.siteWeb }}</p>

                <b class="text-muted">nomSociete:</b>
                <p>{{ client.nomSociete }}</p>
                <b class="text-muted">type:</b>
                <p>{{ client.type }}</p>
                <b class="text-muted">rc:</b>
                <p>{{ client.rc }}</p>
                <b class="text-muted">Capital:</b>
                <p>{{ client.capital }}</p>
                <b class="text-muted">Cnss:</b>
                <p>{{ client.cnss }}</p>
                <b class="text-muted">Pantente:</b>
                <p>{{ client.patente }}</p>
                <b class="text-muted">identicicationFiscale:</b>
                <p>{{ client.identicicationFiscale }}</p>
                <b class="text-muted">Ice :</b>
                <p>{{ client.ice }}</p>
            </div>
        </div>

    </div>
{% endblock %}