{% extends 'base.html.twig' %}

{% block title %}Categorie List{% endblock %}

{% block body %}


        <!-- Main content -->
        <section class="content">


            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Categorie</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i
                                    class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <!-- Start creating your amazing application! -->

                        <a href="{{ path('categorie_store') }}" class="btn btn-sm btn-success btn-sm">Add Categorie
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>

                    <button id="delLaun" type="button" class="btn btn-danger btn-sm">

                        Delete
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 pull-right">
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong><i class="fa fa-check"></i></strong> {{ flash_message|trans }}
                            </div>
                            <script>
                                // Automatically close the alert after 5 seconds
                                setTimeout(function() {
                                    $(".alert").alert('close');
                                }, 2000);
                            </script>
                        </div>
                    {% endfor %}


                    {% for flash_message in app.session.flashbag.get('delete') %}
                        <div class="col-xs-6 col-sm-6 col-sm-offset-3 pull-right">
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong><i class="fa fa-check"></i></strong> {{ flash_message|trans }}
                            </div>
                            <script>
                                setTimeout(function() {
                                    $(".alert").alert('close');
                                }, 2000);
                            </script>
                        </div>
                    {% endfor %}
                    <div id="table-laundry"></div>
                </div><!-- /.box-body -->
                <div class="box-footer">

                    <div class="table-responsive">
                        <table id="myTable-laundry" class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Id</th>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th>Code groupe</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for categorie in categories %}
                                <tr align="center">
                                    <td><input type="checkbox" name="categorie[]" value="{{ categorie.id }}"></td>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ categorie.libellee }}</td>
                                    <td>{{ categorie.description }}</td>
                                    <td>{{ categorie.codeGroupe }}</td>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <a href="{{ path('categorie_show',{id: categorie.id}) }}" class="btn btn-xs btn-primary">
                                            <span class="fa fa-eye" aria-hidden="true"></span>
                                        </a>
                                        <a href="{{ path('categorie_edit',{id: categorie.id}) }}"  class="btn btn-warning btn-xs">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>
                                        <a href="{{ path('categorie_delete',{id: categorie.id}) }}" class="btn btn-xs btn-danger">
                                            <span class="fa fa-trash-o" aria-hidden="true"></span>

                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}



                            </tbody>
                        </table>
                    </div>

                </div>
            </div><!-- /.box -->


        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

            {% endblock %}
