{% extends 'base2.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Symfon Categorie Manager</h2>
        <div class="card">
            <div class="card-header">
                <a href="{{ path('app_categorie_new') }}" class="btn btn-outline-primary">
                    Create New categorie
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Libellee</th>
                        <th>Description</th>

                        <th width="240px">Action</th>
                    </tr>
                    {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.libellee }}</td>
                            <td>{{ categorie.description }}</td>
                                <form method="post" action="{{ path('app_categorie_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <a
                                            class="btn btn-outline-info"
                                            href="{{ path('app_categorie_show', {'id': categorie.id}) }}">
                                        Show
                                    </a>
                                    <a
                                            class="btn btn-outline-success"
                                            href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">
                                        Edit
                                    </a>

                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}