{% extends 'base.html.twig' %}

{% block title %}Categorie List{% endblock %}

{% block body %}

    <div class="row my-2">
        <div class="col-md-7 mx-auto my-1">
            <div class="card" >
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 4px">
                    <span style="font-family: emoji; font-size: larger">List des categories</span>

                    <div class="toolbar" style="margin-left: auto">
                            <a href="{{path('categorie_store')}}" class="nav-link btn btn-info add-new">
                                <i class="fa fa-plus"></i>
                                Add new
                            </a>
                    </div>




                </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="padding: 0.25rem;">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th>Code groupe</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for categorie in categories %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ categorie.libellee }}</td>
                                    <td>{{ categorie.description }}</td>
                                    <td>{{ categorie.codeGroupe }}</td>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <a href="{{ path('categorie_show',{id: categorie.id}) }}"
                                           class="btn btn-sm btn-dark">show</a>
                                        <a href="{{ path('categorie_edit',{id: categorie.id}) }}"
                                           class="btn btn-sm btn-warning">edit</a>
                                        <form id="{{ categorie.id }}"
                                              action="{{ path('categorie_delete',{id: categorie.id}) }}"
                                              method="post"></form>
                                        <button onclick="deleteItem('{{ categorie.id }}')"
                                                class="btn btn-sm btn-danger">delete
                                        </button>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>
    </div>






            {% endblock %}
