{% extends 'base.html.twig' %}
{% block title %}show categorie{% endblock %}

{% block body %}
    <div class="card borderless-card">
        <div class="card-block primary-breadcrumb">
            <div class="breadcrumb-header">
                <h5>Show Client</h5>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="#!">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Client</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Sow Client</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>







            <div class="box">


                <div class="box-body">

                    <div class="box-header with-border">
                        <a href="{{ path('categorie_edit',{id: categorie.id}) }}" class="btn btn-sm btn-primary btn-sm">
                            Edite Categorie
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </a>


                        <a href="{{ path('categorie_delete',{id: categorie.id}) }}" class="btn btn-danger btn-sm">
                            Delete
                            <span class="fa fa-trash-o" aria-hidden="true"></span>

                        </a>


                        <a href="{{ path('app_pdf_download', {id: categorie.id}) }}" type="button" class="btn btn-info btn-icon waves-effect waves-light" data-toggle="tooltip" data-placement="top" title=".icofont-print">
                            <i class="icofont icofont-print"></i></a>


                        <div class="pull-right">
                            <a href="{{ path('categorie') }}" class="btn btn-sm btn-warning btn-sm">
                                <i class="fa fa-reply" aria-hidden="true"></i>
                                Reteurn
                            </a>
                        </div>


                    </div>

                    <div class="card">
                        <div class="card-header">

                        <section class="content">

                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label class="control-label" for="dateDebut">libellee :</label>
                            </div>
                            <div class="col-sm-9">
                              <p><input type='text' class="form-control" disabled="disabled"
                                        placeholder="{{ categorie.libellee }}"></p>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label" for="dateDebut">description :</label>
                            </div>
                            <div class="col-sm-9">
                               <p> <input type='text' class="form-control" disabled="disabled"
                                          placeholder="{{ categorie.description }}"></p>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label" for="dateDebut">codeGroupe :</label>
                            </div>
                            <div class="col-sm-9">
                               <p> <input type='text' class="form-control" disabled="disabled"
                                          placeholder="{{ categorie.codeGroupe }}"></p>
                            </div>
                        </div>
                    </section>


                </div>
            </div>
            </div>
            </div>






{% endblock %}
