{% extends 'base.html.twig' %}
{% block title %}show categorie{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <small class="text-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Show Categorie!</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Categorie</h4>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i
                                    class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">

                    <div class="box-header with-border">
                        <a href="{{ path('categorie_edit',{id: categorie.id}) }}" class="btn btn-sm btn-primary btn-sm">
                            Edite Categorie
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </a>


                        <a href="{{ path('categorie_delete',{id: categorie.id}) }}" class="btn btn-danger btn-sm">
                            Delete
                            <span class="fa fa-trash-o" aria-hidden="true"></span>

                        </a>

                            <a href="{{ path('app_pdf_download') }}" class="btn btn-success btn-sm">download
                                <span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                            <a href="{{ path('app_pdf_browser') }}" class="btn btn-danger btn-sm">browser
                                <span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>

                        <div class="pull-right">
                            <a href="{{ path('categorie') }}" class="btn btn-sm btn-warning btn-sm">
                                <i class="fa fa-reply" aria-hidden="true"></i>
                                Reteurn
                            </a>
                        </div>


                    </div>

                    <section class="content">

                        <div class="row">

                            <label class="control-label col-md-2" for="">libellee :</label>
                            <div class="col-sm-9">
                              <p><input type='text' class="form-control" disabled="disabled"
                                        placeholder="{{ categorie.libellee }}"></p>
                            </div>
                            <label class="control-label col-sm-2" for="">description :</label>
                            <div class="col-sm-9">
                               <p> <input type='text' class="form-control" disabled="disabled"
                                          placeholder="{{ categorie.description }}"></p>
                            </div>
                            <label class="control-label col-sm-2" for=""> codeGroupe :</label>
                            <div class="col-sm-9">
                               <p> <input type='text' class="form-control" disabled="disabled"
                                          placeholder="{{ categorie.codeGroupe }}"></p>
                            </div>
                        </div>
                    </section>


                </div>
            </div>
        </section>


    </div>


{% endblock %}