{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="card borderless-card">
        <div class="card-block primary-breadcrumb">
            <div class="breadcrumb-header">
                <h5>Create Contrat</h5>
            </div>
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_home') }}">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="{{ path('contrat') }}">Contat</a>
                    </li>
                    <li class="breadcrumb-item"><a>Create Contrat</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="card">
    <div class="card-header">

    <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">

                <section class="content">

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label class="control-label" for="dateDebut">Date :</label>
                        </div>
                        <div class="form-group col-sm-10">
           {{ form_widget(form.date, { 'attr': {'class': 'form-control no-resize datetimepicker', 'placeholder': 'Sélectionnez une date'} }) }}
                        </div>

                        <div class="form-group col-sm-2">
                            <label class="control-label" for="client">Client :</label>
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.client, {'attr': {'class': 'form-control', 'placeholder':'Client'}}) }}
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label" for="service">Service :</label>
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.Service, {'attr': {'class': 'form-control', 'placeholder':'Type de tâche'}}) }}
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label" for="montant">Montant :</label>
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.montant, {'attr': {'class': 'form-control', 'placeholder':'Montant'}}) }}
                        </div>
                        <div class="form-group col-sm-12">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </div>

                </section>
            </div>
        </section>
    </div>
    </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
