{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="text-success">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <small>add contrat</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">contrat</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path('contrat') }}">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <section class="content">

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label class="control-label" for="dateDebut">Date :</label>
                        </div>
                        <div class="form-group col-sm-10">
           {{ form_widget(form.dateDebut, { 'attr': {'class': 'form-control no-resize datetimepicker', 'placeholder': 'Sélectionnez une date'} }) }}
                        </div>


                        <div class="form-group col-sm-2">
                            <label class="control-label" for="client">Client :</label>
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.client, {'attr': {'class': 'form-control', 'placeholder':'Client'}}) }}
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label" for="service">Service :</label>
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.Service, {'attr': {'class': 'form-control', 'placeholder':'Type de tâche'}}) }}
                        </div>
                        <div class="form-group col-sm-2">
                            <label class="control-label" for="montant">Montant :</label>
                        </div>
                        <div class="form-group col-sm-10">
                            {{ form_widget(form.montant, {'attr': {'class': 'form-control', 'placeholder':'Montant'}}) }}
                        </div>
                        <div class="form-group col-sm-12">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </div>

                </section>
            </div>
        </section>
    </div>

    {{ form_end(form) }}

{% endblock %}