{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="text-success">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <small>add contrat</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">contrat</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path('contrat') }}" >
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <section class="content">

                    <div class="row">

                        <label class="control-label col-sm-2" for=""> dateDebut :</label>
                        <div class="col-sm-10">
                            <p> {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control',  'placeholder':'tache Type'}}) }}</p>
                        </div>
                        <label class="control-label col-sm-2" for="">client :</label>
                        <div class="col-sm-10">
                            <p>{{ form_widget(form.client, {'attr': {'class': 'form-control',  'placeholder':'duree'}}) }}</p>
                        </div>
                        <label class="control-label col-sm-2" for="">tacheType :</label>
                        <div class="col-sm-10">
                            <p>{{ form_widget(form.tacheType, {'attr': {'class': 'form-control',  'placeholder':'duree'}}) }}</p>
                        </div>



                        <div class="card-footer col-sm-4 text-center">
                            <button type="submit" class="btn btn-primary">Validé</button>


                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>

    {{ form_end(form) }}
{% endblock %}