{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}

    <section class="content">

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Mes taches</h3>
                <form method="GET" action="{{ path('app_task') }}">
                    <div class="form-group pull-right">
                        <input type="date" id="selectedDate" name="selectedDate" class="form-control" max="{{ date() | date('Y-m-d') }}">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Afficher</button>
                </form>

            </div>

            <div class="box-footer">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Client</th>
                                <th>Mission</th>
                                <th>Designation</th>
                                <th>DateDebut</th>
                                <th>DateFin</th>
                                <th>Duree</th>
                                <th>Duree</th>
                                <th>statue</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contrat in contrats %}
                                <tr align="center">
                                    <td>{{ contrat.id }}</td>
                                    <td>{{ contrat.client }}</td>
                                    <td>{{ contrat.service.mission }}</td>
                                    <td>{{ contrat.service.designation }}</td>
                                    <td>{{ contrat.service.date |  date('d/m/Y')}}</td>
                                    <td>
                                        {% set endDate = contrat.service.date|date_modify('+' ~ contrat.service.duree ~ ' days') %}
                                        {{ endDate|date('d/m/Y') }}
                                    </td>
                                    <td>{{ contrat.service.duree }}</td>
                                    <td  id="remainingBtn-{{ contrat.service.id }}">
                                    </td>

                                    <script>
                                        let remainingBtn = document.getElementById("remainingBtn-{{ contrat.service.id }}");
                                        let endDate = new Date("{{ endDate|date('Y-m-d') }}");

                                        function countTime() {
                                            let timing = endDate - new Date();
                                            let remaining = "Terminé";
                                            //let color = "red";

                                            if (timing > 0) {
                                                remaining = "En cours";
                                                //color = "green";
                                                let time = {
                                                    d: Math.floor(timing / (1000 * 60 * 60 * 24) % 30),
                                                    h: Math.floor((timing / (1000 * 60 * 60)) % 24),
                                                };

                                                remaining = Object.keys(time)
                                                    .map(item => {
                                                        return `${time[item]} ${item}`;
                                                    })
                                                    .join(" ");

                                            }

                                            remainingBtn.innerText = remaining;
                                           // remainingBtn.style.backgroundColor = color;
                                        }

                                        countTime();
                                        setInterval(countTime, 1000);
                                    </script>

                                    <td>
                                        {% if contrat.tache %}
                                            <a href="{{ path('task_workflow', {id : contrat.tache.id}) }}">{{ contrat.tache.status }}</a>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}













