<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/mouad.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css') }}">
        <!-- Font Awesome -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">

        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">


        <link rel="stylesheet" href="{{ asset('dist/css/style.css') }}">
        <link href="{{ asset('assets/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}


</head>


{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('dist/js/app.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->

    <script type="text/javascript" src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/dataTables.bootstrap.min.js') }}"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable-laundry').DataTable();
        });

    </script>



{% endblock %}
{% block header %}
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('categorie') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="{{ asset('assets/img/AdminLTELogo.png') }}" width="30px" height="30px"></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Swe</b>DGI Expert</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </nav>
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->


    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">




                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="{{ asset('dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
                    </div>
                </div>


                <li class="header"> MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="{{ path('app_home') }}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="{{ path('contrat') }}">
                        <i class="fa fa-briefcase"></i>
                        <span>contrat</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="{{ path('taske') }}">
                        <i class="fa fa-tasks"></i>
                        <span>taske</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span>Paramétrage</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="{{ path('categorie') }}">
                                <i class="fa fa-th-list"></i>
                                <span>Category</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="{{ path('client') }}">
                                <i class="fa fa-user"></i>
                                <span>Client</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="{{ path('tache') }}">
                                <i class="fa fa-thumb-tack"></i>
                                <span>Task Type</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="{{ path('periodicite') }}">
                                <i class="fa fa-clock-o"></i>
                                <span>Periodicities</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Settings -->
                <li class="header">SETTINGS</li>
                <li>
                    <a href="#">
                        <i class="fa fa-key"></i>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">
                        <i class="fa fa-sign-out"></i>
                        <span>Logout</span>
                    </a>
                </li>

            </ul>
        </section>
    </aside>



    <div class="control-sidebar-bg"></div>




    {% endblock %}
    {% block body %}{% endblock %}

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Bakrim</b>
        </div>
        <strong>Copyright &copy; 2023 <a href="">Swedgi</a>.</strong> SwedExpert
        <a href=""></a>
    </footer>

</div>

</body>
</html>